extends layout

block content

  header.jumbotron.subhead
    div.container
      h1 403 Forbidden!  :(
      p #{err.message}

  div.container-fluid
    div.row-fluid
      div.span6.offset3
        br 
        br 
        iframe.hidden-phone(width='560', height='315', src='http://www.youtube.com/embed/RfiQYRn7fBg', frameborder='0', allowfullscreen)
        br 
        br 