extends layout

block content

  header.jumbotron.subhead
    div.container
      h1 404 Error!  :(
      p Oh no! The document you requested at #{url} couldn't be found.
  div.container
    div.row
      div.span6.offset3
        br 
        br 
        br 
        br 
        script var GOOG_FIXURL_LANG = (navigator.language || '').slice(0,2),GOOG_FIXURL_SITE = location.host;
        script(src="http://linkhelp.clients.google.com/tbproxy/lh/wm/fixurl.js")