extends layout

block content

  header.jumbotron.subhead
    div.container
      p Your Username: #{user.username}
      p Your Email: #{user.email}
      p Your Password: 
        small #{user.hash}
      br 
      h6.muted (See, we don't know your password!  We hash it before we save it. So never see it or store it!)