//- invisible comment  ;)
//- # = id
//- . = class

//Footer 
//================================================== 
footer.footer
  div.container
    div.bs-docs-social
      ul.bs-docs-social-buttons
        li
          iframe.github-btn(src='http://ghbtns.com/github-btn.html?user=twitter&repo=bootstrap&type=watch&count=true', allowtransparency='true', frameborder='0', scrolling='0', width='100px', height='20px')
        li
          iframe.github-btn(src='http://ghbtns.com/github-btn.html?user=twitter&repo=bootstrap&type=fork&count=true', allowtransparency='true', frameborder='0', scrolling='0', width='102px', height='20px')
        li.follow-btn
          a(href='https://twitter.com/twbootstrap', class='twitter-follow-button', data-link-color='#0069D6', data-show-count='true') Follow @twbootstrap
        li.tweet-btn
          a(href='https://twitter.com/share', class='twitter-share-button', data-url='http://twitter.github.com/bootstrap/', data-count='horizontal', data-via='twbootstrap', data-related='mdo:Creator of Twitter Bootstrap') Tweet
    p
      a(href='#') <strong><i class="icon-hand-up"></i> Back to Top</strong>
    ul.footer-links
      li.muted
        | &copy; 
        i.icon-star
        |  2012 #{title} LLP, all rights reserved
      li.muted
        | &middot;
      li
        a(href='mailto:webcontact@vizilinkz.com') 
          i.icon-envelope
          | Contact Us
      li.muted
        | &middot;
      li
        a(href='/terms', id='btn-terms') Terms
      li.muted
        | &middot;
      li
        a(href='/privacy', id='btn-privacy') Privacy
      li.muted
        | &middot;
      li
        a(href='/credits', id='btn-credits') Credits
      li.muted
        | &middot;
      li
        a(href='http://stats.pingdom.com/s0qv45q2fvqf/552169', target='_blank') Uptime
      li.muted
        | &middot;
      li.muted
        | Version #{version}
//- Footer 
//- ================================================== 
  footer.footer
    div.container
      div.bs-docs-social
        ul.bs-docs-social-buttons
          li
            iframe.github-btn(src='http://ghbtns.com/github-btn.html?user=twitter&repo=bootstrap&type=watch&count=true', allowtransparency='true', frameborder='0', scrolling='0', width='100px', height='20px')
          li
            iframe.github-btn(src='http://ghbtns.com/github-btn.html?user=twitter&repo=bootstrap&type=fork&count=true', allowtransparency='true', frameborder='0', scrolling='0', width='102px', height='20px')
          li.follow-btn
            a(href='https://twitter.com/twbootstrap', class='twitter-follow-button', data-link-color='#0069D6', data-show-count='true') Follow @twbootstrap
          li.tweet-btn
            a(href='https://twitter.com/share', class='twitter-share-button', data-url='http://twitter.github.com/bootstrap/', data-count='horizontal', data-via='twbootstrap', data-related='mdo:Creator of Twitter Bootstrap') Tweet
      p Designed and built with all the love in the world by 
        a(href='http://twitter.com/mdo', target='_blank') @mdo 
        | and 
        a(href='http://twitter.com/fat', target='_blank') @fat
      p Code licensed under 
        a(href='http://www.apache.org/licenses/LICENSE-2.0', target='_blank') Apache License v2.0
        |, documentation under 
        a(href='http://creativecommons.org/licenses/by/3.0/') CC BY 3.0
      p 
        a(href='http://glyphicons.com') Glyphicons Free 
        | licensed under 
        a(href='http://creativecommons.org/licenses/by/3.0/') CC BY 3.0
      ul.footer-links
        li
          a(href='http://blog.getbootstrap.com') Blog
        li.muted
          | &middot;
        li
          a(href='https://github.com/twitter/bootstrap/issues?state=open') Issues
        li.muted 
          | &middot;
        li
          a(href='https://github.com/twitter/bootstrap/wiki') Roadmap and changelog