//- invisible comment  ;)
//- # = id
//- . = class
//- ------------------------------------------------

// Footer 
  | ================================================== 
footer.footer
  div.container
    p Designed and built with all the love in the world by 
      a(href='http://twitter.com/mdo', target='_blank') @mdo 
      | and 
      a(href='http://twitter.com/fat', target='_blank') @fat
    p Code licensed under 
      a(href='http://www.apache.org/licenses/LICENSE-2.0', target='_blank') Apache License v2.0
      |, documentation under 
      a(href='http://creativecommons.org/licenses/by/3.0/') CC BY 3.0
    p 
      a(href='http://glyphicons.com') Glyphicons Free 
      | licensed under 
      a(href='http://creativecommons.org/licenses/by/3.0/') CC BY 3.0
    ul.footer-links
      li
        a(href='http://blog.getbootstrap.com') Blog
      li.muted
        | &middot;
      li
        a(href='https://github.com/twitter/bootstrap/issues?state=open') Issues
      li.muted
        | &middot;
      li
        a(href='https://github.com/twitter/bootstrap/wiki') Roadmap and changelog