head

  meta(charset='utf-8')
  title= title
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  meta(name='description', content='#{description}')
  meta(name='author', content='#{author}')
  meta(name='keywords', content='#{keywords}')

  // styles 
  // ================================================= 
  link(rel='stylesheet', href='/css/bootstrap.min.css')
  link(rel='stylesheet', href='/css/responsive.min.css')
  link(rel='stylesheet', href='/css/docs.css')

  include scripts

  //- include fonts

  // icons 
  // ================================================= 
  //- http://mathiasbynens.be/notes/touch-icons, note IE needs .ico but should be handled by expressjs
  link(rel='shortcut icon', href='/ico/favicon.png')
  //- For third-generation iPad with high-resolution Retina display:
  link(rel='apple-touch-icon-precomposed', sizes='144x144', href='/ico/apple-touch-icon-144-precomposed.png')
  //- For iPhone with high-resolution Retina display:
  link(rel='apple-touch-icon-precomposed', sizes='114x114', href='/ico/apple-touch-icon-114-precomposed.png')
  //- For first- and second-generation iPad:
  link(rel='apple-touch-icon-precomposed', sizes='72x72', href='/ico/apple-touch-icon-72-precomposed.png')
  //- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices:
  link(rel='apple-touch-icon-precomposed', href='/ico/apple-touch-icon-57-precomposed.png')