doctype 5
html(lang='en')
  include head
  body
    //-
      // if lt IE 7
        p You are using a <strong>very outdated</strong> browser.  Please 
          a(href="http://browsehappy.com/") upgrade your browser
          |  or 
          a(href="http://www.google.com/chromeframe/?redirect=true") activate Google Chrome Frame
          |  to improve your experience.
    include navbar
    block content
    include footer