extends layout

block content

  div.container
    div.row
      div.span4.offset4
        if message
          p #{message}

        form(action='/login', method='post')
          div
            label Username:
            input(type='text', name='username')
          div
            label Password:
            input(type='password', name='password')
          div
            input(type='submit', value='Submit')
        br 
        br 
        p.small 
          em Hint: try "Dan" and "passw0rd"