//- http://twitter.github.com/bootstrap/base-css.html#forms
//- https://github.com/visionmedia/jade
extends layout

block content

  div.container
    div.row
      div.span4.offset2
        if message
          p #{message}

        //- set focus for the user
        script $(document).ready(function () { $("#inputUserName").focus(); })

        form.form-horizontal(action='/login', method='post')
          fieldset
            legend Sign in!
            //- div.control-group
              label.control-label(for='inputEmail') Email
              div.controls
                input#inputEmail(name='email', type='email', placeholder='you@youremail.com', required)
            div.control-group
                label.control-label(for='inputUserName') Your Name
                div.controls
                  input#inputUserName(name='username', type='text', placeholder='Username')
            div.control-group
              label.control-label(for='inputPassword') Password
              div.controls
                input#inputPassword(name='password', type='password', placeholder='Passw0rd')
            div.control-group
              div.controls
                button.btn(type='submit') Sign In
        br
        br
        p.small
          em Hint: try "Dan" and "passw0rd"