// Navbar 
// ================================================== 
div.navbar.navbar-inverse.navbar-fixed-top
  div.navbar-inner
    div.container
      button.btn.btn-navbar(type='button', data-toggle='collapse', data-target='.nav-collapse')
        span.icon-bar
        span.icon-bar
        span.icon-bar 
      a.brand(href='/') #{title}
      div.nav-collapse.collapse
        ul.nav
          li.active
            a(href='/') Home
          li
            a(href='./getting-started.html') Get Started
          li
            a(href='./scaffolding.html') Scaffolding
          li
            a(href='./base-css.html') Base CSS
          li
            a(href='./components.html') Components
          li
            a(href='./javascript.html') Javascript
          li
            a(href='./customize.html') Customize