// Le javascript
// ==================================================
// Placed at the end of the document so the pages load faster
// Bootstrap
script(src="public/js/lib/bootstrap-transition.js")
script(src="public/js/lib/bootstrap-alert.js")
script(src="public/js/lib/bootstrap-modal.js")
script(src="public/js/lib/bootstrap-dropdown.js")
script(src="public/js/lib/bootstrap-scrollspy.js")
script(src="public/js/lib/bootstrap-tab.js")
script(src="public/js/lib/bootstrap-tooltip.js")
script(src="public/js/lib/bootstrap-popover.js")
script(src="public/js/lib/bootstrap-button.js")
script(src="public/js/lib/bootstrap-collapse.js")
script(src="public/js/lib/bootstrap-carousel.js")
script(src="public/js/lib/bootstrap-typeahead.js")
script(src="public/js/lib/bootstrap-affix.js")
script(src="public/js/lib/application.js")
// Non Bootstrap
script(src="public/js/lib/holder/holder.js")
script(src="public/js/lib/google-code-prettify/prettify.js")
// Public CDN
script(type='text/javascript', src='http://platform.twitter.com/widgets.js')
script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js')