// Le javascript
// ==================================================
// Placed at the end of the document so the pages load faster
// Bootstrap
//- we bundle the individual scripts ourselves into bootstrap.js
script(src="public/js/lib/bootstrap.js")  
script(src="public/js/lib/application.js")
// Non Bootstrap
script(src="public/js/lib/holder/holder.js")
script(src="public/js/lib/google-code-prettify/prettify.js")
// Public CDN
script(type='text/javascript', src='http://platform.twitter.com/widgets.js')
script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js')