//- http://twitter.github.com/bootstrap/base-css.html#forms
//- https://github.com/visionmedia/jade
extends layout

block content
  script 
    
    // Get Validation Script
    $.getScript("/js/lib/mailcheck/mailcheck.min.js")
    .done(function(script, textStatus) {    
        console.log("Mailcheck loaded.");
    })
    .fail(function(jqxhr, settings, exception) {  
        console.log("Mailcheck load failed.");
    });

    $(document).ready(function() {
       
      $("#inputUserName").focus();
      $("#hint").css('display', 'none');
      
      //$(function () { $("input").not("[type=submit]").jqBootstrapValidation(); } );

      var $email = $('#inputEmail');
      var $hint = $("#hint");

      $email.on('blur', function() {
        $hint.css('display', 'none').empty();
        $(this).mailcheck({
          suggested: function(element, suggestion) {
            if(!$hint.html()) {
              // First error - fill in/show entire hint element
              var suggestion = "Did you mean <span class='suggestion'>" +
                                "<span class='address'>" + suggestion.address + "</span>"
                                + "@<a href='#' class='domain'>" + suggestion.domain + 
                                "</a></span>?";
                                
              $hint.html(suggestion).fadeIn(150);
            } else {
              // Subsequent errors
              $(".address").html(suggestion.address);
              $(".domain").html(suggestion.domain);
            }
          },
            empty: function(element) {
            // callback code
          }
        });
      });

      $hint.on('click', '.domain', function() {
        // On click, fill in the field with the suggestion and remove the hint
        $email.val($(".suggestion").text());
        $hint.fadeOut(200, function() {
          $(this).empty();
        });
        $("#inputPassword").focus();
        return false;
      });

    });
  div.container
    //- 
      div.row
        div.span12
          div.well
            div.social_buttons
              div.inset
                a.fb.login_button(href="/facebook/?next=%2F")
                  div.logo_wrapper
                    span.logo
                      span Login with Facebook
              div.inset
                a.tw.login_button(href="/twitter/?next=%2F")
                  div.logo_wrapper
                    span.logo
                      span Login with Twitter

    div.row
      div.span5.offset2
        //- Signup Form
        br 
        br 
        form.form-horizontal(action='/register', method='post')
          fieldset
            Legend Sign up!
            //- Flash Message
            if (message != '')
              div.alert.alert-error
                p !{message}
            div.control-group
                label.control-label(for='inputUserName') Your Name
                div.controls
                  //- input#inputUserName.input-large(name='username', data-validation-ajax-ajax='/json/username', type='text', placeholder='Username', required)
                  input#inputUserName.input-large(name='username', type='text', placeholder='Username', required)         
              div.control-group
                label.control-label(for='inputEmail') Email
                div.controls
                  input#inputEmail.input-large(name='email', type='email', placeholder='you@youremail.com', required)
                  //- For mailcheck
                  div#hint  
              div.control-group
                label.control-label(for='inputPassword') Password
                div.controls
                  input#inputPassword.input-large(name='password', minlength="6", type='password', placeholder='Passw0rd', required)
              div.control-group
                div.controls
                  button.btn.btn-primary(type='submit') Sign Up

        p <em>Already have an account? 
          a(href="/login") <strong>Sign In!</strong></em>