// Google Tracking
// ====================================================

//- Use the Google Tracking Snippet to Track Your Website
//- https://developers.google.com/analytics/devguides/collection/gajs/asyncTracking

//- The Analytics snippet is a small piece of JavaScript code that you 
//- paste into your pages. It activates Google Analytics tracking by 
//- inserting ga.js into the page. To use this on your pages, copy the 
//- code snippet below, replacing UA-XXXXX-X with your web property ID. 
//- Paste this snippet into your website template page so that it appears 
//- before the closing </head> tag.

//- If you need to do more than basic page tracking, see the tracking reference 
//- for a list of methods available in the API and see the Usage Guide for details 
//- on using the asynchronous syntax. For step-by-step instructions on setting up 
//- tracking, see the Help Center article on setting up tracking. 

script(type="text/javascript")  
  
  var _gaq = _gaq || [];  
  _gaq.push(['_setAccount', 'UA-XXXXX-X']);  
  _gaq.push(['_trackPageview']);  

  (function() {
    var ga = document.createElement('script'); 
    ga.type = 'text/javascript'; ga.async = true;    
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';    

    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);  
  })();

//- The snippet above represents the minimum configuration needed to track a page 
//- asynchronously. It uses _setAccount to set the page's web property ID and then 
//- calls _trackPageview to send the tracking data back to the Google Analytics servers.
