extends layout

block content

  header.jumbotron.subhead
    div.container
      h1 Welcome #{user.username}!
      p It's great to have you here!
      p Checkout your 
        a(href="/account") Account!